.DS_Store
4.1
4.1.2
4.1.2.c
4.1.c
4.1.c~
4.2
4.2.c~
neural
pattern4.aux
pattern4.log
pattern4.pdf
pattern4.synctex.gz
pattern4.tex
pattern4.zip
rec
rec.c
rec.c~
relu.png
sigmoid.png
tanh.png
w1.dat
w2.dat